<h2>Thông tin thuốc</h2>

<form method="get" action="/admin/viewMedicine">
	<label for="TimTheoMaThuoc" class="col-form-label">Nhập mã thuốc để xem: </label>
	<div class="d-flex">
		<input type="text" name="TimTheoMaThuoc" class="form-control" id="TimTheoMaThuoc">
		<button type="submit" class="btn btn-primary">Xem</button>
	</div>
</form>

<table class="table">
	<thead>
		<tr>
			<th>Mã thuốc</th>
			<th>Tên thuốc</th>
			<th>Đơn vị tính</th>
			<th>Chỉ định</th>
			<th>Số lượng tồn</th>
			<th>Ngày hết hạn</th>

		</tr>
	</thead>
	<tbody>
		{{#each ThongTinThuoc}}
		<tr>
			<td><input type="text" value="{{this.MaThuoc}}"></td>
			<td><input type="text" value="{{this.TenThuoc}}"></td>
			<td><input type="text" value="{{this.DonViTinh}}"></td>
			<td><input type="text" value="{{this.ChiDinh}}"></td>
			<td><input type="text" value="{{this.SoLuongTonKho}}"></td>
			<td><input type="text" value="{{this.NgayHetHan}}"></td>
		</tr>
		{{/each}}
	</tbody>
</table>

<button id="updMed" type="button" class="btn btn-primary">Sửa thông tin thuốc</button>
<button id="updMed_vol" type="button" class="btn btn-primary">Cập nhật số lượng tồn thuốc thông tin thuốc (Cộng thêm)</button>

<br>
<br>
<br>

{{!-- <h2>Thông tin thuốc</h2>
<table class="table">
	<thead>
		<tr>
			<th>Mã thuốc</th>
			<th>Tên thuốc</th>
			<th>Đơn vị tính</th>
			<th>Chỉ định</th>
			<th>Số lượng tồn</th>
			<th>Ngày hết hạn</th>
			<th>Hành động</th>
		</tr>
	</thead>
	<tbody>
		{{#each ThongTinThuoc}}
		<tr>
			<td><input type="text" value="{{this.MaThuoc}}"></td>
			<td><input type="text" value="{{this.TenThuoc}}"></td>
			<td><input type="text" value="{{this.DonViTinh}}"></td>
			<td><input type="text" value="{{this.ChiDinh}}"></td>
			<td><input type="text" value="{{this.SoLuong}}"></td>
			<td><input type="text" value="{{this.NgayHetHan}}"></td>
			<td>
				<button type="button" class="btn btn-primary">Sửa</button>
				<button type="button" class="btn btn-danger">Xóa</button>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table> --}}

<!--phần thêm lịch cá nhân tui mới làm UI thui, ai cần  làm thì xử lý chức năng nha -->
{{!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
	data-bs-whatever="@mdo">Thêm lịch cá nhân</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Thêm lịch cá nhân</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="myForm" method="post" action="/doctor/addPersonalSchedule">
					<div class="mb-3">
						<label for="ngaykham" class="col-form-label">Ngày khám:</label>
						<input type="date" name="ngaykham" class="form-control" id="ngaykham">
					</div>
					<div class="mb-3">
						<label for="thutuca" class="col-form-label">Thứ tự ca:</label>
						<input type="text" name="thutuca" class="form-control" id="thutuca">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
				<button id="myButton" type="submit" class="btn btn-primary">Thêm lịch cá nhân</button>
			</div>
		</div>
	</div>
</div> --}}

<script>
	$('#myButton').click(function () {
		$('#myForm').submit();
	});

	//Set href cho chi tiết đơn thuốc
	document.getElementById("updMed").onclick = function () {
		location.href = "/admin/updateMedicine";
	};

	document.getElementById("updMed_vol").onclick = function () {
		location.href = "/admin/UpdateMedicine_volume";
	};
</script>