<h2>Lịch hẹn</h2>

<form method="get" action="/doctor/viewAppointment">
    <label for="lichhen_ngay" class="col-form-label">Xem theo ngày cụ thể: </label>
    <div class="d-flex">
        <input type="date" name="lichhen_ngay" class="form-control" id="lichhen_ngay">
        <button  type="submit" class="btn btn-primary">Xem</button>
    </div>
</form>

<table class="table">
  <thead>
    <tr>
      <th>Mã phiếu</th>
      <th>Nha sĩ khám</th>
      <th>Ngày khám</th>
      <th>Thứ tự ca</th>
      <th>SDT khách hàng</th>
    </tr>
  </thead>
  <tbody>
    {{#each PhieuHen}}
    <tr>
    <td><input type="text" value="{{this.MaPhieu}}"></td>
    <td><input type="text" value="{{this.NhaSiKham}}"></td>
    <td><input type="text" value="{{this.Ngay}}"></td>
    <td><input type="text" value="{{this.ThuTuCa}}"></td>
    <td><input type="text" value="{{this.SdtKhachHang}}"></td>
    </tr>
    {{/each}}
  </tbody>
</table>

<br>
<br>
<br>

<h2>Lịch cá nhân</h2>
<table class="table">
  <thead>
    <tr>
      <th>Nha sĩ khám</th>
      <th>Ngày khám</th>
      <th>Thứ tự ca</th>
      <th>Trạng thái</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    {{#each LichCaNhan}}
    <tr>
    <td><input type="text" value="{{this.MaNhaSi}}"></td>
    <td><input type="text" value="{{this.Ngay}}"></td>
    <td><input type="text" value="{{this.ThuTuCa}}"></td>
    <td><input type="text" value="{{this.TrangThai}}"></td>
    <td>
        <button type="button" class="btn btn-primary">Sửa</button>
        <button type="button" class="btn btn-danger">Xóa</button>
    </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<!--phần thêm lịch cá nhân tui mới làm UI thui, ai cần  làm thì xử lý chức năng nha -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
    data-bs-whatever="@mdo">Thêm lịch cá nhân</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm lịch cá nhân</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="myForm" method="post" action="/doctor/addPersonalSchedule">
                    <div class="mb-3">
                        <label for="ngaykham" class="col-form-label">Ngày khám:</label>
                        <input type="date" name="ngaykham" class="form-control" id="ngaykham">
                    </div>
                    <div class="mb-3">
                        <label for="thutuca" class="col-form-label">Thứ tự ca:</label>
                        <input type="text" name="thutuca" class="form-control" id="thutuca">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button id="myButton"  type="submit" class="btn btn-primary">Thêm lịch cá nhân</button>
            </div>
        </div>
    </div>
</div>

<script>
  $('#myButton').click(function() {
    $('#myForm').submit();
  });
</script>